.box_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: white;
}
label {
  user-select: none;
}

.formContainer {
    height: fit-content;
   width: 200px;
   padding: 3%;
   padding-top: 0;
    margin-bottom: 90px;
    -webkit-box-shadow: 0px 0px 4px 3px black;
-moz-box-shadow: 0px 0px 4px 3px black;
box-shadow: 0px 0px 4px 3px black;
border-radius: 8px;

  }
  .formContainer h2{
    text-align: center;
    padding-top: 10px;
  }
  
  .inputGroup {
    
    position: relative;
    margin-bottom: 1.25rem;
  }
  .inputGroup span{
    margin-top: 20px;
    color: red;
  }
  
  .inputField {
    color: black;
    padding: 0.625rem 0;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 5px;
    background: transparent;
    border: 0;
    border-bottom: 0.125rem solid #ccc;
    appearance: none;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .inputField:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .label {
    position: absolute;
    left: 0%;
    font-size: 1rem;
    color: #888;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: 0 100%;
    top: 0.75rem;
  }
  
  .inputField:focus + .label,
  .inputField:not(:placeholder-shown) + .label {
    transform: translateY(-1.5rem) scale(0.75);
    opacity: 0.8;
  }
  
  .button {
    text-align: center;
    padding: 0.625rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 0.875rem;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #2980b9;
  }
  .button_see{
    display: flex;
    color: black;
    gap: 5px;
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  .button_see input {
    width: 16px;
   
  }
  
  
  .inputField:-webkit-autofill {
    font-size: inherit; /* Mantén el tamaño de la fuente original */
    color: inherit; /* Mantén el color de la fuente original */
    /* Otros estilos que desees mantener o personalizar */
  }

